<h2>Good Parent</h2>

<pre>{{ goodParent.data | json }}</pre>

<p><strong>Secret</strong>: {{ goodParent.secret }}</p>

<tt-good-child
  ng-repeat="item in goodParent.data"
  item="item"
></tt-good-child>
