<h1>Comments section</h1>

<!--

  Notice the one-time binding: callback will not change, no need to $watch it.

  Comments form is only supposed to provide form, validate it against empty
  comments, and display error status if any. The $http submit logic should
  not be pertinent to the form. As such - contain $http- submit logic in
  comments section, and trigger that logic only when the form is submitted.

  A callback to form-submit is provided below.

  Provide arguments! When executing the bound callback, the child controller
  will have to use the alias to provide value. For this case it would be ...

  ```
  // comments-form.component.js
  this.onCommentSubmitted({ comment: comment })
  ```

-->

<tt-comments-form
  on-comment-submitted=":: $ctrl.onCommentSubmitted(comment)"
></tt-comments-form>

<!--

  Comments will change on the other hand: should not be a one-time binding.

  Comments in CommentsListComponent are obtained via a one-time binding, meaning
  that change from parent is always reflected in child, but change in child will
  not be refrected in parent.

  In case changes need to be reflected, use a combination of inputs ('<')
  and outputs ('&'), or resort to model two-way bindings at your own peril ('=')

-->

<tt-comments-list
  comments="$ctrl.comments"
></tt-comments-list>
