<h3>Good Child</h3>

<p>
  {{ goodChild.item.id }} / {{ goodChild.item.title }}
  <button ng-click="goodChild.debugSelf(goodChild)">Debug</button>
</p>

<p>{{ goodParent.secret || 'Don\'t know the secret :(' }}</p>

<p><em>Locale</em>: {{ $root.locale }}</p>

