<h2>Child</h2>

<p>Id: <strong>{{ :: $ctrl.id }}</strong></p>
<p><button ng-click="$ctrl.remove($ctrl.child)">Remove</button></p>
<p><button ng-click="$ctrl.up($ctrl.subs)">Up children</button></p>

<tt-nested-child
  ng-repeat="sub in $ctrl.subs"
  sub="sub"
></tt-nested-child>
