<h2>Comments Form</h2>

<form novalidate ng-submit="$ctrl.onSubmit($event, $ctrl.comment)">

  <p>
    <input ng-model="$ctrl.comment" />
  </p>

  <p ng-if="$ctrl.lastSaveFailed">
    Something went wrong saving the comment. Try again?
  </p>

  <p>
    <button type="submit">Add Comment</button>
  </p>

</form>
