<h2>Bad Parent</h2>

<pre>{{ data | json }}</pre>

<p><strong>Secret</strong>: {{ secret }}</p>

<!--
  well, we're stuck here :)

  components create isolated scopes, so scope data in parent will not
  be available in child components, so we can't really create a child component.

  This means that child template may not be externalized, child logic has
  to be contained in parent controller, which will inevitable lead to
  4000-lines controllers

  Also, secret is visible. That might not be a bad thing: client data
  is not secure by definition. However, having all data in scope makes debugging
  unreasonably hard
-->

<div ng-repeat="item in data">

  <h3>Bad Child</h3>
  <p>
    {{ item.id }}  / {{ item.title }}
    <button ng-click="debugChild(item)">Debug</button>
  </p>
  <p>{{ secret }}</p>

  <!--

    Consider this:

    <p><em>Locale</em>: {{ locale }}</p>

    Where is `locale` defined? Bad Parent Component $scope? ng-repeat's $scope?
    $rootScope?

    Components create isolate scopes, so $rootScope is not accessible.
    $root alias, however, is available, and it is a clear indication that the
    variable is from $rootScope.

  -->

  <p><em>Locale</em>: {{ $root.locale }}</p>

</div>
