<h2>Comments List</h2>

<!--
  Once comment is rendered, contents will not change:

  - Keep watching the comments array
  - Do not watch contents
-->

<p ng-repeat="comment in $ctrl.comments">
  <em>{{ :: comment.timestamp | date : 'medium' }}</em>
  <span>{{ :: comment.comment }}</span>
</p>
